snippet split "snippet split in vim" b
" =====
" ----------$1----------
" =====
$2
endsnippet

snippet Header "Header of vimrc" b
"  __  ____   __ __     _____ __  __ ____   ____
" |  \/  \ \ / / \ \   / /_ _|  \/  |  _ \ / ___|
" | |\/| |\ V /   \ \ / / | || |\/| | |_) | |
" | |  | | | |     \ V /  | || |  | |  _ <| |___
" |_|  |_| |_|      \_/  |___|_|  |_|_| \_\\\\____|
$1
endsnippet
